@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background-color: whitesmoke;
    padding-top: 110px;
}

:root {
    --primary: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

b,
strong {
    font-weight: bold;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
    border-top: var(--primary) 3px solid;
    border-bottom: var(--primary) 3px solid;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* MENU DESPLEGABLE DE USUARIO */


/* END MENU DESPLEGABLE.......................................... */

form {
    position: relative;
}

.cont-titulo {
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.cont-titulo h3 {
    font-size: 20px;
    margin: 15px;
}

.seccion-anteproyecto {
    margin-top: 10px;
    border: #bebebe 1px solid;
    background: #fff;
    align-items: center;
    border-radius: 5px;
}

.seccion-anteproyecto .archivo {
    padding: 15px;
    display: block;
    text-align: center;
}

.seccion-anteproyecto .btn-enviar {
    font-family: 'Maven', sans-serif;
    padding: 5px;
    width: 205px;
    font-size: 20px;
    color: #fff;
    background: var(--primary);
    border-radius: 7px;
    border: none;
    text-align: center;
}


/* Propiedades input tipo file.............................. */


/**********File Inputs**********/

.container-input {
    text-align: center;
    position: relative;
    padding: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 22px;
    font-weight: normal;
    font-family: "Maven Pro", sans-serif;
}

.inputfile-5+label {
    color: #000;
}

.inputfile-5+label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #c4c4c4;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-5+label svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.seccion-anteproyecto .comentario {
    padding: 15px;
    display: block;
    width: 100%;
}

.seccion-anteproyecto .comentario label {
    font-size: 19px;
}

.seccion-anteproyecto .comentario .marco-textarea {
    padding: 10px;
    display: flex;
    align-items: center;
    background: #c4c4c4;
    border-radius: 5px;
}

.seccion-anteproyecto .comentario .marco-textarea i {
    font-size: 50px;
    margin-right: 4px;
}

.seccion-anteproyecto .comentario .marco-textarea textarea {
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    resize: none;
    height: 80px;
    padding: 5px;
}

textarea {
    outline: none;
    background: none;
    border: none;
}


/* Entregas de la fecha */

.historial {
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border: #bebebe 1px solid;
    border-radius: 5px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; */
    display: flex;
    flex-direction: column;
}

.detalle_entrega {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    padding-left: 10px;
    background: #fff;
    display: flex;
    border: var(--primary) 1px solid;
    overflow: hidden;
}

.detalle_entrega i {
    color: var(--hover);
    font-size: 60px;
}

.detalle_entrega>.datos {
    margin-left: 10px;
    width: 100%;
    /* height: 100px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* overflow: auto; */
}

.detalle_entrega .datos a {
    text-decoration: none;
}

textarea {
    resize: none;
}


/* Navegación guia */

.tree-view {
    position: absolute;
    top: 0;
    right: 1%;
    display: block;
    width: 380px;
}

details {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    max-height: 2.5em !important;
    transition: all 0.1s ease;
}

details ::-webkit-details-marker {
    display: none;
}

details>summary {
    position: relative;
    margin-top: 0.25em;
    color: #35abfa;
    padding: 0.1em 0.5em 0.2em;
    background: #444;
}

details>summary:before {
    /* content: "⊞"; */
    color: #eee;
    font-size: 0.5em;
    margin-right: 0.5em;
}

details[open]>summary {
    background: var(--primary);
    color: #eee;
}

details[open]>summary:before {
    /* content: "⊟"; */
    color: #ccc;
}

.folder {
    margin: 0 0 0.5em 0.86em;
    padding: 0.5em 0em 0.5em 1.5em;
    border-left: 0.1em #ccc dotted;
    border-bottom: 0.1em #ccc dotted;
}

.folder p {
    margin: 0;
}

details[open] {
    height: auto;
    max-height: 99em !important;
    transition: all 1.2s ease;
}

details:not([open]) .folder {
    height: 0px !important;
}

.tree-view i {
    color: #0269ad;
}

.tree-view a:hover {
    color: rgb(17, 101, 255);
}

.none {
    display: none !important;
}

.aviso {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 150px;
}

.aviso p {
    margin: auto;
    text-align: center;
    color: #910303;
    font-size: 19px;
}

.paso_propuesta {
    margin-top: 10px;
}

.bi-exclamation-triangle {
    color: #c50404;
    font-size: 30px;
}

.button {
    display: flex;
}

@media screen and (min-width: 1440px) {
    .format {
        padding: 0 70px;
    }
    .cont-titulo {
        width: 80%;
        margin-top: 20px;
    }
    .seccion-anteproyecto {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .button {
        grid-column: 1/3;
    }
    .button .btn-enviar {
        margin: 20px auto;
        text-align: center;
    }
    .historial {
        width: 80%;
    }
}

@media screen and (max-width: 1400px) {
    .format {
        padding: 0 20px;
    }
    .cont-titulo {
        width: 60%;
    }
    .seccion-anteproyecto {
        width: 60%;
    }
    .button .btn-enviar {
        margin: 20px auto;
    }
    .historial {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .format {
        padding: 0 10px;
        margin: auto;
        width: 100%;
    }
    .cont-titulo {
        width: 100%;
    }
    .seccion-anteproyecto {
        width: 100%;
    }
    .historial {
        width: 100%;
    }
    .tree-view {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    .format {
        padding: 0 7px;
    }
    .seccion-anteproyecto {
        display: flex;
        flex-direction: column;
    }
}