    @import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
    body {
        font-family: "Maven Pro", sans-serif;
        background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("../img/campus-aunar-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 140px;
    }
    
     :root {
        --background-primario: #0269ad;
        --hover: #0477c4;
        --color-detalle: #fee700;
        --color-detalle-hover: #ffef42;
    }
    
    .full-screen {
        padding: 8rem 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    ul li {
        list-style: none;
    }
    
    a {
        font-weight: normal;
        text-decoration: none !important;
        transition: all 0.4s ease;
    }
    /* a:hover {
    color: #ffffff !important;
} */
    
    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: #5b5b5b;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        letter-spacing: -1px;
    }
    
    h1 {
        color: #212121;
        font-size: 2.8em;
        margin: 24px 0;
    }
    
    h2 {
        color: #353535;
        font-size: 2.4em;
        font-weight: bold;
    }
    
    h3,
    b,
    strong {
        font-weight: bold;
    }
    
    .copyright-text {
        font-size: 16px;
        font-weight: normal;
        display: block;
    }
    
    .color-mode {
        font-weight: bold;
        cursor: pointer;
    }
    
    .color-mode-icon {
        position: relative;
        right: 6px;
    }
    
    .color-mode-icon:after {
        font-family: 'unicons';
        content: '\ea9f';
        font-size: 30px;
        font-weight: 300;
        font-style: normal;
    }
    
    .color-mode-icon.active:after {
        font-family: 'unicons';
        content: '\eb65';
        font-size: 30px;
        color: #ffffff;
    }
    
    .division {
        height: 100%;
        background: white;
        display: flex;
    }
    
    .navbar-nav li {
        border-top: var(--background-primario) 3px solid;
        margin-right: 20px;
    }
    
    .principal {
        width: auto;
        border-top: var(--background-primario) 3px solid;
        border-bottom: var(--color-detalle) 3px solid;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .fecha {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .principal a,
    .fecha {
        width: auto;
        font-weight: bold;
        font-size: 16px;
        overflow: hidden;
    }
    /* Logos e imagenes */
    
    .aunar_logo {
        width: 80px;
        margin-right: 20px;
    }
    
    .logo {
        width: 200px;
        border-radius: 10px;
    }
    /* END MENU DESPLEGABLE.......................................... */
    
    .contenedor-soporte {
        width: 50%;
        margin: auto;
        background: #fff;
        display: block;
        padding: 50px;
        padding-top: 30px;
    }
    
    .settings {
        display: flex;
        margin-top: 30px;
    }
    
    .settings img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 200px;
    }
    
    .container-input {
        text-align: center;
        /* background: #282828; */
        padding: 50px 0;
        border-radius: 6px;
        width: 30%;
        /* margin: 0 auto; */
        margin-bottom: 20px;
    }
    
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    
    .inputfile+label {
        width: auto;
        /* background-color: #1ca700; */
        font-size: 1.25rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
    }
    
    .inputfile+label svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }
    
    .iborrainputfile {
        font-size: 16px;
        font-weight: normal;
        /* font-family: 'Lato'; */
    }
    
    .inputfile-5+label {
        color: #c4c4c4;
    }
    
    .inputfile-5:focus+label,
    .inputfile-5.has-focus+label,
    .inputfile-5+label:hover {
        color: #c4c4c4;
    }
    
    .inputfile-5+label figure {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #c4c4c4;
        display: block;
        padding: 20px;
        margin: 0 auto 10px;
    }
    
    .inputfile-5:focus+label figure,
    .inputfile-5.has-focus+label figure,
    .inputfile-5+label:hover figure {
        background-color: #c4c4c4;
    }
    
    .inputfile-5+label svg {
        width: 100%;
        height: 100%;
        fill: #fff;
    }
    
    .contenedor-soporte h3 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    .contenedor-soporte label {
        display: block;
        font-size: 17px;
    }
    
    .contenedor-soporte input {
        margin-bottom: 10px;
        outline: none;
    }
    
    .contenedor-soporte .nombre_u,
    .contenedor-soporte .user {
        border: none;
        background: none;
        display: flex;
    }
    
    .user {
        font-weight: bold;
        color: #1ca700;
        cursor: auto;
        font-size: 20px;
    }
    
    .contenedor-soporte .campo {
        width: 80%;
        padding: 3px;
        border: var(--background-primario) 1px solid;
        border-radius: 5px;
    }
    
    .campo:focus {
        background: rgb(212, 216, 255);
    }
    
    .contenedor-soporte .btn-g {
        display: block;
        background: var(--background-primario);
        padding: 10px;
        color: #fff;
        border: none;
        border-radius: 7px;
        margin-top: 7px;
        font-size: 18px;
        text-align: center;
    }