@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.9)), url("../img/campus-aunar-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3,
b,
strong {
    font-weight: bold;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: 6px;
}

.color-mode-icon:after {
    font-family: 'unicons';
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    border-top: var(--background-primario) 3px solid;
    margin-right: 20px;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    border-top: var(--background-primario) 3px solid;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* Logos e imagenes */

.aunar_logo {
    width: 80px;
    margin-right: 20px;
}

.logo {
    width: 200px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}


/* END MENU DESPLEGABLE.......................................... */

.docente-profile {
    padding-top: 160px;
    width: 100%;
}

.docente-profile h3 {
    font-size: 30px;
    text-align: center;
}

.docente-profile .horizontal {
    text-decoration: none;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px 0;
    width: 55%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.docente-profile .horizontal a {
    cursor: pointer;
    width: 270px;
    height: 200px;
    margin: auto;
    background-color: var(--background-primario);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

img {
    transition: all 400ms ease;
}

.docente-profile a::before {
    opacity: 0;
}

.docente-profile a::after {
    opacity: 1;
}

.docente-profile a:hover .seleccion {
    /* padding: 2em 0 1.5em; */
    transform: translate(10px, 10px);
}

.docente-profile .seleccion {
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    width: 270px;
    height: 200px;
    background-color: var(--color-detalle);
    margin: 10px;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

.docente-profile .horizontal a .seleccion div {
    display: block;
    width: 100%;
}

.seleccion h3 {
    padding: 5px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 10px;
    font-size: 25px;
    background: var(--background-primario);
    color: var(--color-detalle);
}

.docente-profile a label {
    vertical-align: middle;
    cursor: pointer;
}

.seleccion i {
    color: var(--background-primario);
    font-size: 65px;
}

.publicar {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border: #bebebe 1px solid;
    border-radius: 5px;
}

.form-group {
    width: 100%;
}

.publicar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicar button {
    margin: 10px auto;
}


/* .publicar form {
    display: none;
} */

.publicar textarea {
    width: 100%;
    outline: none;
    resize: none;
}

.seccion_anuncios {
    background: repeating-linear-gradient(-10deg, rgb(226, 224, 224), whitesmoke 50%);
    padding: 20px 0;
}

.cont-titulo {
    margin: 10px auto;
    width: 60%;
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.cont-titulo h3 {
    font-size: 20px;
    margin: 15px;
}

.grid {
    background: #fff;
    border: #bebebe 1px solid;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 70px 3fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: minmax(10px, 20px);
}

.grid>div {
    color: #000;
    display: flex;
    align-items: center;
}

.e1 {
    grid-row: 1/3;
    width: 70px;
    height: 70px;
}

.e1 img {
    width: 70px;
    height: 70px;
}

.e4 {
    text-align: justify;
    grid-column: 1/3;
}