@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: #f5f5f5;
    padding-top: 140px;
}

:root {
    --primary: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #ffef42;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

h1 {
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    font-size: 2.4em;
    font-weight: bold;
}

b,
strong {
    font-weight: bold;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: 6px;
}

.color-mode-icon:after {
    font-family: 'unicons';
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    border-top: var(--primary) 3px solid;
    margin-right: 20px;
}

.principal {
    width: auto;
    border-top: var(--primary) 3px solid;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.format {
    width: 90%;
    margin: auto;
}

.cont-titulo {
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.cont-titulo h3 {
    font-size: 20px;
    margin: 15px;
}

.contenido {
    margin: 10px 0;
    background: #fff;
    border: #bebebe 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 20px 40px;
}

form>div {
    margin: 20px 0;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

button {
    font-family: 'Maven', sans-serif;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background: var(--primary);
    border-radius: 3px;
    border: none;
    margin: auto;
}