    @import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
    body {
        font-family: "Maven Pro", sans-serif;
        position: relative;
        height: 100%;
        background: whitesmoke;
    }
    
     :root {
        --primary: #0269ad;
        --hover: #0477c4;
        --color-detalle: #fee700;
        --color-detalle-hover: #ffef42;
    }
    
    .full-screen {
        padding: 8rem 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    ul li {
        list-style: none;
    }
    
    a {
        font-weight: normal;
        text-decoration: none !important;
        transition: all 0.4s ease;
    }
    
    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: #5b5b5b;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: -1px;
    }
    
    h1 {
        color: #212121;
        font-size: 2.8em;
        margin: 24px 0;
    }
    
    h2 {
        color: #353535;
        font-size: 2.4em;
        font-weight: bold;
    }
    
    b,
    strong {
        font-weight: bold;
    }
    
    .copyright-text {
        font-size: 16px;
        font-weight: normal;
        display: block;
    }
    
    .division {
        height: 100%;
        background: white;
        display: flex;
    }
    
    .navbar-nav li {
        border-top: var(--primary) 3px solid;
        margin-right: 20px;
    }
    
    .nav-link span {
        color: white;
        font-size: 20px;
        width: auto;
    }
    
    .principal {
        width: auto;
        border-top: var(--primary) 3px solid;
        border-bottom: var(--color-detalle) 3px solid;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .fecha {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .principal a,
    .fecha {
        width: auto;
        font-weight: bold;
        font-size: 16px;
        overflow: hidden;
    }
    /* END MENU DESPLEGABLE.......................................... */
    
    .seleccion {
        position: relative;
    }
    
    .student-module .seleccion div {
        margin-left: auto;
        display: flex;
    }
    
    .desahilitar {
        cursor: not-allowed;
        pointer-events: none;
    }
    
    .salto {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: repeating-linear-gradient(-60deg, rgba(255, 255, 255, 0.6), rgba(245, 245, 245, 0.6) 15px);
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    .salto p {
        color: #000;
        margin: auto;
        font-size: 25px;
    }
    /* Seccion anuncios */
    
    .anouncement_card {
        resize: horizontal;
        display: block;
        overflow: auto;
        max-height: 100%;
        background: #f5f5f5;
    }
    
    .anouncement_card div span {
        font-size: 18px;
    }
    
    .anouncement_card>div {
        border: #bebebe 1px solid;
        text-align: justify;
        background: #fff;
        border-radius: 5px;
        margin: 15px;
        padding: 20px;
    }
    /* Navegación guia */
    
    details {
        position: relative;
        width: auto;
        height: auto;
        overflow: hidden;
        max-height: 2.5em !important;
        transition: all 0.1s ease;
    }
    
    details ::-webkit-details-marker {
        display: none;
    }
    
    details>summary {
        position: relative;
        margin-top: 0.25em;
        color: #35abfa;
        padding: 0.1em 0.5em 0.2em;
        background: #444;
    }
    
    details>summary:before {
        /* content: "⊞"; */
        color: #eee;
        font-size: 0.5em;
        margin-right: 0.5em;
    }
    
    details[open]>summary {
        background: var(--primary);
        color: #eee;
    }
    
    details[open]>summary:before {
        /* content: "⊟"; */
        color: #ccc;
    }
    
    .folder {
        margin: 0 0 0.5em 0.86em;
        padding: 0.5em 0em 0.5em 1.5em;
        border-left: 0.1em #ccc dotted;
        border-bottom: 0.1em #ccc dotted;
    }
    
    .folder p {
        margin: 0;
    }
    
    details[open] {
        height: auto;
        max-height: 99em !important;
        transition: all 1.2s ease;
    }
    
    details:not([open]) .folder {
        height: 0px !important;
    }
    
    .tree-view i {
        color: #0269ad;
    }
    
    .tree-view a:hover {
        color: rgb(17, 101, 255);
    }
    
    .hamburger {
        border: 0;
        background: transparent;
        outline: none;
        text-decoration: none;
    }
    
    .hamburger i {
        color: #fff;
    }
    /* Escritorio */
    
    .cont-titulo {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        border-bottom: #bebebe 2px solid;
        border-radius: 5px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        justify-content: center;
    }
    
    .cont-titulo h3 {
        font-size: 30px;
        margin: auto 5px;
    }
    
    .cont-titulo i {
        font-size: 20px;
    }
    
    @media screen and (min-width: 1440px) {
        body>.fondo {
            background: linear-gradient(to right, rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.9)), url("../img/campus-aunar-2.png");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
        }
        .secciones {
            width: 100%;
            display: flex;
            margin-top: 109px;
        }
        .menu-side {
            display: none;
        }
        .hamburger {
            display: none;
        }
        /* Seccion anuncios */
        .anouncement_card {
            width: 30%;
        }
        /* Seccion 2 */
        .student-module {
            position: relative;
            width: 60%;
            height: 100%;
            padding: 20px;
        }
        .student-module h3 {}
        .student-module .container {
            width: 60%;
            padding: none;
            margin: none;
        }
        .student-module .seleccion {
            transform: skew(-7deg);
            overflow: hidden;
            padding: 10px;
            padding-left: 5px;
            background-color: var(--color-detalle);
            margin: 20px;
            width: 100%;
            cursor: pointer;
            height: 150px;
            line-height: 150px;
            padding-left: 40px;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }
        .student-module .seleccion>p {
            font-size: 27px;
            cursor: pointer;
            font-family: "Maven Pro", sans-serif;
            margin-right: 20px;
            background: var(--primary);
            color: var(--color-detalle);
            margin-right: auto;
            width: 100%;
            padding-left: 10px;
        }
        .student-module .seleccion img {
            margin-right: 20px;
            margin-left: 5px;
        }
        .treeview {
            margin-top: 20px;
            background: linear-gradient(to bottom, #fff, #fff, transparent);
            border: #bebebe 1px solid;
            border-bottom: none;
            width: 20%;
            height: 60%;
            padding: 10px;
        }
    }
    
    @media screen and (min-width: 770px) and (max-width: 1440px) {
        .secciones {
            width: 100%;
            display: flex;
            margin-top: 97px;
        }
        .student-module h3 {
            font-size: 27px;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .student-module .seleccion p {
            font-size: 24px;
        }
        .treeview {
            width: 20%;
        }
    }
    /* Tablet */
    
    @media screen and (min-width: 500px) and (max-width: 770px) {
        .secciones {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
        }
        .treeview {
            position: absolute;
            right: 0;
            grid-column: 2/3;
            width: 35%;
        }
        .anouncement_card {
            width: 63%;
        }
        .student-module {
            width: 63%;
        }
        .resp_title {
            display: flex;
            align-items: center;
            margin: 15px;
            padding: 10px 20px;
            border: #bebebe 1px solid;
            background: #fff;
            border-radius: 5px;
        }
        .resp_title h3 {
            font-size: 20px;
        }
        .student-module .container {
            width: 85%;
            padding: none;
            margin: none;
        }
        .student-module .seleccion {
            margin: auto;
            margin-top: 20px;
            overflow: hidden;
            background-color: var(--color-detalle);
            width: 100%;
            border-radius: 6px;
            align-items: center;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }
        .student-module .seleccion img {
            display: block;
            margin: auto;
            margin-top: 7px;
            margin-bottom: 7px;
        }
        .student-module .seleccion p {
            font-size: 20px;
            font-family: "Maven Pro", sans-serif;
            background: var(--primary);
            color: var(--color-detalle);
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    
    @media screen and (max-width: 500px) {
        body>div {
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("../img/campus-aunar-2.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100vw;
        }
        .navbar {
            max-height: 100px;
        }
        .hamburger i {
            font-size: 40px;
            color: white;
        }
        .menu-side {
            width: 60%;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 100000000000;
            transform: translateX(-100%);
            background-color: var(--primary);
            flex-direction: column;
            justify-content: flex-start;
            transition: all ease-out .5s;
        }
        .menu-side button {
            text-decoration: none;
            position: relative;
            border: none;
            background: transparent;
            float: right;
            margin-right: 10px;
        }
        .menu-side button i {
            color: white;
            font-weight: bold;
            font-size: 40px;
        }
        .usuario {
            color: #fff;
            padding: 20px;
            font-weight: bold;
            font-size: 18px;
        }
        .menu-opciones {
            margin-top: 50px;
            color: #ffffff;
            display: block;
        }
        .menu-opciones li {
            padding: 15px;
        }
        .menu-opciones a {
            color: #fff;
            text-decoration: none;
        }
        .menu-opciones i {
            font-size: 20px;
        }
        .secciones {
            margin-top: 95px;
            display: flex;
            flex-direction: column;
            grid-template-columns: repeat(1, 1fr);
        }
        .anouncement_card {
            grid-row: 2/2;
        }
        .anouncement_card {
            display: block;
            overflow: auto;
            margin: 10px auto;
            max-height: 100%;
            width: 90%;
            background: #f5f5f5;
        }
        .anouncement_card div span {
            font-size: 18px;
        }
        .anouncement_card>div {
            border: #bebebe 1px solid;
            text-align: justify;
            background: #fff;
            border-radius: 5px;
            margin: 15px;
            padding: 20px;
        }
        .resp_title {
            width: 90%;
            display: flex;
            text-align: center;
            align-items: center;
            border: #bebebe 1px solid;
            background: #fff;
            border-radius: 5px;
            margin: 15px auto;
            padding: 20px;
        }
        .student-module h3 {
            text-align: center;
            position: relative;
            font-size: 24px;
            margin-bottom: 0 !important;
        }
        .student-module .container {
            width: 85%;
            padding: none;
            margin: none;
        }
        .student-module .seleccion {
            margin: auto;
            margin-top: 20px;
            overflow: hidden;
            background-color: var(--color-detalle);
            width: 100%;
            border-radius: 6px;
            align-items: center;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }
        .student-module .seleccion img {
            display: block;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .student-module .seleccion p {
            font-size: 20px;
            font-family: "Maven Pro", sans-serif;
            background: var(--primary);
            color: var(--color-detalle);
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
        .treeview {
            margin: auto;
            width: 80%;
            margin-top: 20px;
            background: #fff;
            border: var(--primary) 1px solid;
            padding: 10px;
        }
    }