    @import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
    body {
        font-family: "Maven Pro", sans-serif;
        position: relative;
        height: 100%;
    }
    
     :root {
        --background-primario: #0269ad;
        --hover: #0477c4;
        --color-detalle: #fee700;
        --color-detalle-hover: #ffef42;
    }
    
    .full-screen {
        padding: 8rem 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    ul li {
        list-style: none;
    }
    
    a {
        font-weight: normal;
        text-decoration: none !important;
        transition: all 0.4s ease;
    }
    
    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: #5b5b5b;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        letter-spacing: -1px;
    }
    
    h1 {
        color: #212121;
        font-size: 2.8em;
        margin: 24px 0;
    }
    
    h2 {
        color: #353535;
        font-size: 2.4em;
        font-weight: bold;
    }
    
    h3,
    b,
    strong {
        font-weight: bold;
    }
    
    .copyright-text {
        font-size: 16px;
        font-weight: normal;
        display: block;
    }
    
    .division {
        height: 100%;
        background: white;
        display: flex;
    }
    
    .navbar-nav li {
        border-top: var(--background-primario) 3px solid;
        margin-right: 20px;
    }
    
    .nav-link span {
        color: white;
        font-size: 20px;
        width: auto;
    }
    
    .principal {
        width: auto;
        border-top: var(--background-primario) 3px solid;
        border-bottom: var(--color-detalle) 3px solid;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .fecha {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .principal a,
    .fecha {
        width: auto;
        font-weight: bold;
        font-size: 16px;
        overflow: hidden;
    }
    /* END MENU DESPLEGABLE.......................................... */
    
    .student-module .seleccion div {
        margin-left: auto;
        display: flex;
    }
    /* .student-module .seleccion div {
    background-color: #615a42;
    cursor: pointer;
} */
    
    .guia_arbol>ul {
        font-size: 18px;
        font-weight: normal;
    }
    
    .guia_arbol ul li>ul {
        font-size: 17px;
        margin: 5px;
        margin-left: 15px;
    }
    
    .guia_arbol ul li>ul>li {
        margin: 5px;
        margin-left: 0;
    }
    
    .guia_arbol a {
        text-decoration: none;
        color: #000;
    }
    
    .guia_arbol i {
        color: #0269ad;
    }
    
    .guia_arbol a:hover {
        color: rgb(17, 101, 255);
    }
    /* Escritorio */
    
    @media screen and (min-width: 67em) {
        body>.fondo {
            background: linear-gradient(to right, rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 0.9)), url("../img/campus-aunar-2.png");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
        }
        .secciones {
            width: 100%;
            display: flex;
            margin-top: 109px;
        }
        .menu-side {
            display: none;
        }
        .hamburger {
            display: none;
        }
        /* Logos  */
        .aunar_logo {
            width: 80px;
            margin-right: 20px;
        }
        .logo {
            width: 200px;
            border-radius: 10px;
        }
        .estado_propuesta {
            display: none;
            position: absolute;
            padding-top: 10px;
            background-color: #fff;
            width: 200px;
            border-radius: 7px;
            height: 150px;
            top: 114px;
            left: 180px;
            text-align: center;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
        .estado_propuesta h3 {
            width: 100%;
            padding: 5px;
            background: var(--background-primario);
            color: #fff;
            font-size: 20px;
        }
        .estado_propuesta label {
            margin: auto;
            margin-top: 17px;
            font-weight: bold;
            font-size: 25px;
        }
        /* Seccion 1 */
        .anouncement_card {
            display: block;
            overflow: auto;
            max-height: 100%;
            width: 30%;
            background: #f5f5f5;
        }
        .anouncement_card div span {
            font-size: 18px;
        }
        .anouncement_card>div {
            border: #bebebe 1px solid;
            text-align: justify;
            background: #fff;
            border-radius: 5px;
            margin: 15px;
            padding: 20px;
        }
        /* Seccion 2 */
        .student-module {
            position: relative;
            width: 60%;
            height: 100%;
            padding: 20px;
        }
        .student-module h3 {
            text-align: center;
            position: relative;
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 40px;
        }
        .student-module .container {
            width: 60%;
            padding: none;
            margin: none;
        }
        .student-module .seleccion {
            transform: skew(-7deg);
            overflow: hidden;
            padding: 10px;
            padding-left: 5px;
            background-color: var(--color-detalle);
            margin: 20px;
            width: 100%;
            cursor: pointer;
            height: 150px;
            line-height: 150px;
            padding-left: 40px;
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding-right: 0;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }
        .student-module .seleccion p {
            font-size: 27px;
            cursor: pointer;
            font-family: "Maven Pro", sans-serif;
            margin-right: 20px;
            background: var(--background-primario);
            color: var(--color-detalle);
            margin-right: auto;
            font-weight: bold;
            width: 100%;
            padding-left: 10px;
        }
        .student-module .seleccion img {
            margin-right: 20px;
            margin-left: 5px;
        }
        .guia_arbol {
            margin-top: 20px;
            /* top: 12%;
            right: 0; */
            /* background: #fff; */
            background: linear-gradient(to bottom, #fff, #fff, transparent);
            border: #bebebe 1px solid;
            border-bottom: none;
            /* position: absolute; */
            /* width: 280px; */
            width: 15%;
            height: 60%;
            padding: 10px;
        }
    }
    
    @media screen and (max-width: 1600px) {
        .secciones {
            width: 100%;
            display: flex;
            margin-top: 97px;
        }
        .student-module h3 {
            font-size: 27px;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .student-module .seleccion p {
            font-size: 24px;
        }
        .guia_arbol {
            width: 20%;
        }
    }
    
    @media screen and (max-width: 67em) {
        body>div {
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url("../img/campus-aunar-2.png");
            background-size: cover;
            background-repeat: no-repeat;
            /* background-attachment: fixed; */
            background-position: center;
            width: 100vw;
        }
        .navbar {
            max-height: 100px;
        }
        /* Logos  */
        .aunar_logo {
            width: 80px;
            margin-right: 20px;
        }
        .logo {
            width: 180px;
            border-radius: 10px;
        }
        .hamburger {
            border: 0;
            background: transparent;
            outline: none;
            text-decoration: none;
        }
        .hamburger i {
            font-size: 40px;
            color: white;
        }
        .menu-side {
            width: 60%;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 100000000000;
            transform: translateX(-100%);
            background-color: var(--background-primario);
            flex-direction: column;
            justify-content: flex-start;
            transition: all ease-out .5s;
        }
        .menu-side button {
            text-decoration: none;
            position: relative;
            border: none;
            background: transparent;
            float: right;
            margin-right: 10px;
        }
        .menu-side button i {
            color: white;
            font-weight: bold;
            font-size: 40px;
        }
        .usuario {
            color: #fff;
            padding: 20px;
            font-weight: bold;
            font-size: 18px;
        }
        .menu-opciones {
            margin-top: 50px;
            color: #ffffff;
            display: block;
        }
        .menu-opciones li {
            padding: 15px;
        }
        .menu-opciones a {
            color: #fff;
            text-decoration: none;
        }
        .menu-opciones i {
            font-size: 20px;
        }
        .student-module h3 {
            text-align: center;
            position: relative;
            font-size: 24px;
        }
        .student-module .container {
            width: 85%;
            padding: none;
            margin: none;
        }
        .student-module .seleccion {
            margin: auto;
            margin-top: 20px;
            overflow: hidden;
            background-color: var(--color-detalle);
            width: 100%;
            border-radius: 6px;
            align-items: center;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }
        .student-module .seleccion img {
            display: block;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .student-module .seleccion p {
            font-size: 20px;
            font-family: "Maven Pro", sans-serif;
            background: var(--background-primario);
            color: var(--color-detalle);
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
        .guia_arbol {
            margin: auto;
            width: 80%;
            margin-top: 20px;
            background: #fff;
            border: var(--background-primario) 1px solid;
            padding: 10px;
        }
    }