@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding: 40px;
    padding-top: 110px;
    background: #fff;
    /* background: linear-gradient(to right, rgba(2, 105, 173, 0.281), rgba(0, 0, 0, 0.164), rgba(254, 233, 0, 0.151)); */
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3,
b,
strong {
    font-weight: bold;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
    border-top: var(--background-primario) 3px solid;
    border-bottom: var(--background-primario) 3px solid;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    /* border-bottom: var(--color-detalle) 3px solid; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* Logos e imagenes */

.aunar_logo {
    width: 80px;
    margin-right: 20px;
}

.logo {
    width: 200px;
    border-radius: 10px;
}


/* END MENU DESPLEGABLE.......................................... */

.grid-view {
    margin: 0;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 20px;
}

.grid-view .seccion-inscripcion {
    background: whitesmoke;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    border: 1px var(--background-primario) solid;
    border-radius: 5px;
}

.seccion-inscripcion .barra-titulo h3 {
    color: white;
}

.seccion-inscripcion .formulario {
    padding: 100px;
    padding-top: 40px;
    display: block;
}

#disable {
    background: none;
}

.descripcion {
    display: block;
}

.descripcion textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px #0477c4 solid;
    outline: none;
    width: 100%;
    resize: none;
    padding-left: 40px;
}

.grid-form {
    padding: 0 70px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "subtitulo subtitulo" "info info" "lbl-titulo            lbl-titulo" "titulo             titulo" "lbl-linea              lbl-linea" "linea             linea" "lbl-asesor       lbl-lider" "asesor          lider" "lbl-programa     lbl-semestre" "programa           semestre" "descripcion     descripcion";
    grid-column-gap: 30px;
}

.subtitulo {
    display: flex;
    grid-area: subtitulo;
}

.info {
    grid-area: info;
}

.lbl-titulo {
    grid-area: lbl-titulo;
}

.titulo {
    grid-area: titulo;
}

.lbl-linea {
    grid-area: lbl-linea;
}

.linea {
    grid-area: linea;
}

.lbl-asesor {
    grid-area: lbl-asesor;
}

.asesor {
    grid-area: asesor;
}

.lbl-lider {
    grid-area: lbl-lider;
}

.lider {
    grid-area: lider;
}

.lbl-programa {
    grid-area: lbl-programa;
}

.programa {
    height: 30px;
    grid-area: programa;
}

.lbl-semestre {
    grid-area: lbl-semestre;
}

.semestre {
    grid-area: semestre;
    width: 100%;
}

.descripcion {
    grid-area: descripcion;
}

.lbl-equipo {
    grid-area: lbl-equipo;
}

.equipo {
    grid-area: equipo;
}

.subtitulo i {
    color: #000;
    font-size: 25px;
}

.formulario label {
    margin: 0;
    padding: 0;
    font-size: 19px;
    color: black;
}

.formulario input {
    margin-bottom: 30px;
    outline: none;
    font-size: 16px;
    padding: 5px;
    border: 1px #0477c4 solid;
    border-radius: 5px;
    box-sizing: border-box;
    transition: .3s;
}

.formulario input:not(input[type="number"]) {
    width: 100%;
}

.formulario input:not(input[type="text"]) {
    width: 40%;
}

.formulario input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#contenedorInput {
    position: relative;
}

.formulario #contenedorInput input {
    padding-left: 40px;
}

#contenedorInput input:focus+i,
#contenedorInput select:focus+i {
    color: dodgerblue;
}

.descripcion textarea:focus+i {
    color: dodgerblue;
}

#contenedorInput i {
    font-size: 22px;
    color: #aaa;
    position: absolute;
    left: 0;
    top: 4px;
    padding: 3px 8px;
}

.formulario select {
    background: none;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 6px;
    border: 1px #0477c4 solid;
    border-radius: 5px;
    width: 100%;
    padding-left: 40px;
}

.formulario select option {
    font-size: 16px;
    background: white;
    color: #000;
}

.formulario select option:hover {
    background-color: var(--hover);
}

.descripcion {
    position: relative;
}

.descripcion i {
    font-size: 22px;
    color: #aaa;
    position: absolute;
    left: 0;
    top: 45%;
    padding: 3px 8px;
}

.miembros {
    padding: 30px 70px;
    border: 1px var(--background-primario) solid;
    border-radius: 5px;
}

#listaIntegrantes {
    width: 20% !important;
}

.contenedor-btn {
    text-align: center;
}

.btn-enviar {
    font-family: 'Maven', sans-serif;
    padding: 7px 10px;
    width: 150px;
    font-size: 18px;
    color: white;
    background: var(--background-primario);
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}

.details {
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px var(--background-primario) solid;
    display: block;
    border-radius: 5px;
    max-width: 500px;
}

.details>label {
    background: var(--background-primario);
    padding: 5px;
    padding-left: 8px;
    color: #fff;
    width: 100%;
    font-size: 19px;
}

.details>div {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    background: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.notif a {
    cursor: pointer;
}

.notif i {
    margin-left: 15px;
    font-size: 20px;
    text-align: end;
    /* float: right; */
}

.notif .edit {
    color: #000;
}

.notif .trash {
    color: #df1001;
    /* float: right; */
}

.notif p {
    margin: 0 !important;
}

.notif>div {
    display: flex;
    align-items: center;
}

.aprobada {
    font-weight: bold;
    color: rgb(0, 92, 0);
}

.reprobada {
    font-weight: bold;
    color: rgb(185, 1, 1);
}

.nothing {
    display: flex !important;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}