@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Maven Pro", sans-serif;
}

:root {
    --primary: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

h1 {
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    font-size: 2.4em;
    font-weight: bold;
}

b,
strong {
    font-weight: bold;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
    border-top: var(--primary) 3px solid;
    border-bottom: var(--primary) 3px solid;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

#disable {
    background: none;
}


/* Contenido de la página  */

.format {
    margin: 0;
}

.format .seccion-informacion {
    background: whitesmoke;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    border: 1px var(--primary) solid;
    border-radius: 5px;
}

.descripcion {
    display: block;
}

.descripcion textarea {
    outline: none;
    resize: none;
    padding-left: 40px;
}

.layoutx2 {
    box-sizing: border-box;
}

.subtitulo i {
    color: #000;
    font-size: 25px;
}

.format label {
    padding: 0;
    font-size: 19px;
    color: black;
}

.format input {
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    transition: .3s;
}

.envio-f input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.format input:not(input[type="number"]) {
    width: 100%;
}

.format input:not(input[type="text"]) {
    width: 40%;
}

.format input:focus,
.format textarea:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#contenedorInput {
    position: relative;
}

#contenedorInput input {
    padding-left: 40px;
}

#contenedorInput input:focus+i,
#contenedorInput select:focus+i,
textarea:focus+i {
    color: dodgerblue;
}

#contenedorInput i {
    font-size: 22px;
    color: #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px 8px;
}

.seccion-informacion select,
.miembros select {
    background: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding-left: 40px;
}

select option {
    font-size: 16px;
    background: white;
    color: #000;
}

select option:hover {
    background-color: var(--hover);
}

.descripcion {
    position: relative;
}

.descripcion i {
    font-size: 22px;
    color: #aaa;
    position: absolute;
    left: 0;
    top: 45%;
    padding: 3px 8px;
}

.miembros {
    background: #f5f5f5;
    padding: 30px 70px;
    border: 1px var(--primary) solid;
    border-radius: 5px;
}

.contenedor-btn {
    text-align: center;
    margin: 20px;
}

.btn-enviar {
    font-family: 'Maven', sans-serif;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background: var(--primary);
    border-radius: 3px;
    border: none;
}

.details {
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px var(--primary) solid;
    display: block;
    border-radius: 5px;
    /* max-width: 500px; */
}

.details>label {
    background: var(--primary);
    padding: 5px;
    padding-left: 8px;
    color: #fff;
    width: 100%;
    font-size: 19px;
}

.details>div {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    background: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.details button {
    background: none;
    border: none;
}

.notif a {
    cursor: pointer;
}

.notif i {
    margin-left: 15px;
    font-size: 20px;
    text-align: end;
}

.notif .edit {
    color: #000;
}

.notif .trash {
    color: #df1001;
}

.notif p {
    margin: 0 !important;
}

.notif>div {
    display: flex;
    align-items: center;
}

.aprobada {
    font-weight: bold;
    color: rgb(0, 92, 0);
}

.reprobada {
    font-weight: bold;
    color: rgb(185, 1, 1);
}

.nothing {
    display: flex !important;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.component-miembro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: center;
    margin: 15px 0;
}

.component-miembro>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.component-miembro label {
    margin-right: 20px;
    font-size: 17px;
}

.component-miembro #contenedorInput {
    /* margin-right: 60px; */
    width: 100%;
}

#contenedorInput input {
    width: 100%;
}

.layoutx2>div {
    margin: 10px 0;
}


/* Desktop $ laptop L */

@media screen and (min-width: 1440px) {
    body {
        padding: 40px;
        padding-top: 120px;
    }
    .format {
        display: flex;
    }
    .envio-f {
        width: 90%;
        margin-right: 20px;
    }
    .layoutx2 {
        box-sizing: border-box;
        padding: 0 70px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
    .layoutx2 .cabecera {
        grid-column: 1/3;
    }
    .layoutx2 .titulo {
        grid-column: 1/3;
    }
    .layoutx2 .linea {
        grid-column: 1/3;
    }
    .layoutx2 .descripcion {
        grid-column: 1/3;
    }
    #listaIntegrantes {
        width: 20% !important;
    }
}


/* Laptop small */

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    body {
        padding: 40px;
        padding-top: 110px;
    }
    .format {
        display: flex;
        flex-direction: column;
    }
    .layoutx2 {
        box-sizing: border-box;
        padding: 0 60px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
    .layoutx2 .cabecera {
        grid-column: 1/3;
    }
    .layoutx2 .titulo {
        grid-column: 1/3;
    }
    .layoutx2 .linea {
        grid-column: 1/3;
    }
    .layoutx2 .descripcion {
        grid-column: 1/3;
    }
    .seccion-informacion input {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    body {
        padding: 110px 20px;
    }
    .format {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .layoutx2 {
        box-sizing: border-box;
        padding: 0 40px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    #listaIntegrantes {
        width: 20% !important;
    }
    .seccion-informacion input {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    body {
        padding: 10px;
        padding-top: 100px;
    }
    .format {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .layoutx2 {
        box-sizing: border-box;
        padding: 0 20px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .seccion-informacion input {
        margin-bottom: 7px;
    }
}