@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: rgb(245, 245, 245);
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3,
b,
strong {
    font-weight: bold;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    border-top: var(--background-primario) 3px solid;
    margin-right: 20px;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    border-top: var(--background-primario) 3px solid;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* Logos e imagenes */

.aunar_logo {
    width: 80px;
    margin-right: 20px;
}

.logo {
    width: 200px;
    border-radius: 10px;
}


/* ........................................ */

.cont-titulo {
    width: 100%;
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    /* padding: 15px; */
    /* display: flex;
   */
    /* display: table-cell; */
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.cont-titulo h3 {
    font-size: 20px;
    /* text-align: center; */
    margin: 15px;
}

.anteproyecto {
    margin-top: 110px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.contenedor-titulo {
    margin: auto;
}


/* FILTRO DE BUSQUEDA.............................*/

.box {
    width: 300px;
    height: 40px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: #bebebe 1px solid;
    margin: 10px 0;
}

.box>i {
    font-size: 15px;
    color: #777;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.ant {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    background: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.ant thead {
    background: var(--background-primario);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.ant tr:nth-child(even) {
    background: #ddd;
}

.ant th,
.ant td {
    /* border: 1px solid #000; */
    padding: 7px;
    padding-left: 8px;
}

.ant .botones_tabla {
    display: flex;
}

.ant tr .botones_tabla form {
    margin-right: auto;
}

.ant tr td a {
    text-decoration: none;
}

.ant tr td>input {
    background: none;
    outline: none;
    border: none;
}

.ant tr td>input:focus {
    background: #b3b1ff;
}

.o {
    margin-right: 25px;
}

.o i {
    width: 150px;
}

.o li a {
    padding: 10px;
    display: block;
}

.o>li {
    float: left;
}

.o li ul {
    background: #fff;
    display: none;
    position: absolute;
    right: 30px;
    min-width: 140px;
    border: 1px solid #000;
    margin-right: 30px;
    padding: 5px;
    border-radius: 5px;
}

.o li:hover>ul {
    display: block;
}

.o textarea {
    outline: none;
    padding: 3px;
    background: repeating-linear-gradient(-180deg, whitesmoke 0px, rgb(221, 220, 220) 25px);
}

.texto_o {
    display: none;
}

.texto_o li {
    display: block;
}

.btn-nota {
    outline: none;
    background: #1188d8;
    color: #fff;
    cursor: pointer;
    padding: 4px;
}

#radio_d {
    display: none;
}

#radio_d:checked~.texto_o {
    display: flex;
    visibility: visible;
}