@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: rgb(245, 245, 245);
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

.navbar h3 {
    color: #fff;
}

h3,
b,
strong {
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    will-change: transform;
    transition: transform 200ms linear;
    background: var(--background-primario);
    color: white;
    border-bottom: var(--color-detalle) 5px solid;
    height: 120px;
}

.nav-item {
    color: white;
}

.log .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    /* nuevo ajuste......................... */
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 0;
}

.nav-link {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    border-top: var(--background-primario) 3px solid;
    margin-right: 20px;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    border-top: var(--background-primario) 3px solid;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* Logos e imagenes */

.aunar_logo {
    width: 80px;
    margin-right: 20px;
}

.logo {
    width: 200px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}

.log {
    margin-right: 25px;
    color: #fff;
}

.log i {
    width: 150px;
}

ul {
    list-style: none;
}

.log li a {
    padding: 10px;
    display: block;
}

.log>li {
    float: left;
}

.log li ul {
    background: var(--background-primario);
    display: none;
    position: absolute;
    min-width: 140px;
    border: 1px solid #000;
}

.log li:hover>ul {
    display: block;
}

.log li ul li:hover {
    background: var(--hover);
}

.log li ul li .out {
    text-decoration: none;
    color: white;
}


/* END MENU DESPLEGABLE.......................................... */

.cont-titulo {
    width: 100%;
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    /* padding: 15px; */
    /* display: flex;
   */
    /* display: table-cell; */
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.cont-titulo h3 {
    font-size: 20px;
    /* text-align: center; */
    margin: 15px;
}

.general_content {
    margin-top: 125px;
}

.acciones {
    padding: 0 30px;
    width: 100%;
}

.acciones button {
    margin: 10px 0;
}

.lista-propuestas {
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* FILTRO DE BUSQUEDA.............................*/


/*  */

.box {
    width: 300px;
    height: 40px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: #bebebe 1px solid;
    margin: 10px 0;
}

.box>i {
    font-size: 15px;
    color: #777;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.contenedor-tabla {
    width: 100%;
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

.lista-propuestas table {
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    margin: auto;
    background: #fff;
    min-width: 100%
}

.lista-propuestas table thead {
    background: var(--background-primario);
    color: #fff;
    padding: 10px;
}

.lista-propuestas table tr:nth-child(even) {
    background: #ddd;
}

.lista-propuestas table th,
.lista-propuestas table td {
    /* border: 1px solid #000; */
    padding: 10px;
    padding-left: 8px;
}

.estado {
    width: 100px;
    outline: none;
    padding: 5px;
    border: none;
    background: none;
    text-align: center;
}

.btn-estado {
    background: none;
    border: none;
    color: #00b418;
}

.estado:focus,
.estado:active {
    background: #d8dcff;
}

.individual {
    text-align: center;
}

.lista-propuestas table tr td>button {
    text-decoration: none;
    color: #1188d8;
    background: none;
    border: none;
    font-size: 18px;
    outline: none;
}


/* Modal....................................................................................................................... */

.modal-header button {
    color: #000;
}

.modal-body {
    background: repeating-linear-gradient(-60deg, white, whitesmoke 15px);
}

.modal-body>div {
    display: flex;
}

.descripcion {
    display: block;
    width: 90%;
}

.descripcion label {
    font-weight: bold;
    display: block;
}

.descripcion textarea {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    resize: none;
}