@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: rgb(245, 245, 245);
}

:root {
    --primary: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

b,
strong {
    font-weight: bold;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    border-top: var(--primary) 3px solid;
    margin-right: 20px;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    border-top: var(--primary) 3px solid;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* ........................................ */

.cont-titulo {
    width: 100%;
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    vertical-align: middle;
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.cont-titulo h3 {
    margin: auto 5px;
    font-size: 20px;
}

.cont-titulo i {
    font-size: 20px;
}

.anteproyecto {
    margin-top: 110px;
    padding: 30px 90px;
}

.contenedor-titulo {
    margin: auto;
}


/* FILTRO DE BUSQUEDA.............................*/

.box {
    width: 300px;
    height: 40px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: #bebebe 1px solid;
    margin: 10px 0;
}

.box>i {
    font-size: 15px;
    color: #777;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.tabla {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    text-align: left;
    margin: auto;
}

.tabla thead {
    background: var(--primary);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.ant tr:nth-child(even) {
    background: #ddd;
}

.tabla th {
    /* padding: 5px 3px; */
    vertical-align: middle;
}

.tabla td {
    /* padding: 4px 3px; */
    vertical-align: middle;
    border-color: inherit;
}

.tabla tr td a {
    text-decoration: none;
}

.btn-nota {
    outline: none;
    background: #1188d8;
    color: #fff;
    cursor: pointer;
    padding: 4px;
}

.see {
    background: var(--primary);
    color: #fff;
}

#radio_d {
    display: none;
}

#radio_d:checked~.texto_o {
    display: flex;
    visibility: visible;
}

.valoracion {
    padding: 7px 14px;
    text-align: center;
    border-radius: 10px;
}

.APROBADO {
    background: #00bd19 !important;
}

.REPROBADO {
    background: #f71a1a !important;
}

.EN {
    background: #dab201 !important;
}

.APLAZADO {
    background: #a8a8a8 !important;
}

.row {
    width: 100% !important;
}