body::-webkit-scrollbar {
    width: 10px;
    /* background: rgba(255, 255, 255, 0.5); */
}

body::-webkit-scrollbar-thumb {
    background: #0165a8d3;
}

body::-webkit-scrollbar-thumb:hover {
    background: #014674;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.185);
}