@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 70px;
    background: whitesmoke;
    padding-top: 110px;
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
}

body::-webkit-scrollbar {
    width: 12px;
    background: #b3b1ff;
}

body::-webkit-scrollbar-thumb {
    background: #0165a8d3;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #014674;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3 {
    color: #fff;
}

h3,
b,
strong {
    font-weight: bold;
}

.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
}

.animated-item {
    color: var(--color-detalle);
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
    background: var(--background-primario);
    color: white;
    border-bottom: var(--color-detalle) 5px solid;
    height: 120px;
    /* display: none; */
}

.nav-item {
    color: white;
}

.log .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    /* nuevo ajuste......................... */
}

.log .navbar-brand:hover {
    color: #fff;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 0;
}

.nav-link {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    background: #212121;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: 6px;
}

.color-mode-icon:after {
    font-family: "Maven Pro", sans-serif;
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: "Maven Pro", sans-serif;
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.nav-link span {
    font-size: 20px;
    width: auto;
}

.inicio {
    width: auto;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inicio a {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.aunar_logo {
    height: 70px;
    margin-right: 20px;
}

.logo {
    height: 70px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}

.log {
    margin-right: 25px;
    color: #fff;
}

.log i {
    width: 150px;
}

ul {
    list-style: none;
}

.log li a {
    padding: 10px;
    display: block;
}

.log>li {
    float: left;
}

.log li ul {
    background: var(--background-primario);
    display: none;
    position: absolute;
    min-width: 140px;
    /* border: 1px solid #000; */
}

.log li:hover>ul {
    display: block;
}

.log li ul li:hover {
    background: var(--hover);
}

.log li ul li .out {
    text-decoration: none;
    color: white;
}


/* END MENU DESPLEGABLE */


/* Cabecera de pagina.......................................................................................................... */

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: #024f83;
    --hovercolor: #0265a7;
    --width-collapsed: 50px;
}

.body-expanded {
    margin-left: var(--width);
}

.main-container {
    color: white;
}

.foto .name span {
    font-size: 19px;
}

#sidemenu {
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    width: 13%;
    padding-top: 20px;
}

#sidemenu a {
    color: white;
    text-decoration: none;
}

#sidemenu .profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

.profile .foto {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

.profile .foto img {
    border-radius: 50%;
    width: 150px;
}

.profile .foto,
.profile .name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}


/* Item */

.menu-items {
    overflow: hidden;
}

.menu-items .item {
    width: 100%;
    width: var(--width);
    padding: 0;
}

.menu-items .item .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

.menu-items .item a {
    height: 100%;
    width: 100%;
    display: block;
}

.menu-items .item a:hover {
    background-color: var(--hovercolor);
}

.menu-items .item .title {
    height: 100%;
    width: 100%;
    padding: var(--padding);
}

.menu-items .item a label {
    width: 100%;
    height: 100%;
    padding: 4px;
    cursor: pointer;
}

.menu-items .separador {
    height: 1px;
    border-bottom: 1px solid var(--hovercolor);
    margin: 15px 0;
}


/* Seccion de registro y control de estudiantes................................................... */

.admin-profile-usuario {
    padding: 10px;
    padding-top: 30px;
    margin-left: 13%;
    width: 84%;
    margin-bottom: 980px;
}

.opciones_admin {
    width: 100%;
    display: flex;
}

.opciones_admin .separation {
    height: 230px;
    width: 230px;
    margin: 14px;
}

.option_ad {
    padding: 10px;
    height: 230px;
    width: 230px;
    background: var(--background-primario);
    align-items: center;
}

.option_ad h2 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.option_ad i {
    font-size: 80px;
    color: #fff;
    margin: auto;
}

.vistas_usuarios {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    width: auto;
    display: flex;
    width: auto;
    /* position: fixed;
    z-index: 1; */
}

.vistas_usuarios ul {
    background: var(--color-detalle);
    border: var(--background-primario) 2px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.vistas_usuarios ul li {
    display: flex;
    align-items: center;
    float: left;
    padding: 0;
}

.vistas_usuarios ul li label {
    padding: 7PX;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 19px;
    margin-bottom: 0;
    border: none;
    cursor: pointer;
}

.vistas_usuarios ul li label:hover {
    background: #fdef51;
    border: none;
    border-radius: 10px;
}

.tab {
    max-width: 100%;
    /* margin: auto; */
    /* margin-top: 100px; */
    /* width: 100%; */
    /* background: #f71a1a; */
}

.secciones {
    position: relative;
}

.secciones .tab1 {
    visibility: hidden;
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
}

.secciones .tab2,
.secciones .tab3 {
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    /* padding: 30px;
    background: #fff;
    padding-bottom: 40px;
    width: 100%;
    transform: scale(0.90); */
}

#radio-estudiante,
#radio-docente,
#radio-coordinador {
    display: none;
}

#radio-estudiante:checked~.panel-student,
#radio-docente:checked~.panel-docente,
#radio-coordinador:checked~.panel-coo {
    background: #fdef51;
}

#radio-estudiante:checked~.tab1,
#radio-docente:checked~.tab2,
#radio-coordinador:checked~.tab3 {
    opacity: 1;
    visibility: visible;
    padding: 2em 0 1.5em;
    transform: scale(1);
    /* top: 7%; */
}

#radio-docente:checked~.tab1,
#radio-docente:checked~.tab3 {
    visibility: hidden;
}

#radio-coordinador:checked~.tab1,
#radio-coordinador:checked~.tab2 {
    visibility: hidden;
}

#radio-estudiante:checked~.tab2,
#radio-estudiante:checked~.tab3 {
    visibility: hidden;
}

.admin-profile-usuario h3 {
    color: #000;
    text-align: center;
    padding: 3px;
    background: var(--color-detalle);
    border: 1px var(--background-primario) solid;
    border-radius: 5px;
    width: 390px;
    font-size: 25px;
}

.admin-profile-usuario .content>label {
    position: relative;
}

.admin-profile-usuario .search-user {
    width: auto;
    display: flex;
    border-radius: 5px;
}

.admin-profile-usuario .search-user label {
    font-size: 19px;
    font-family: "Maven Pro", sans-serif;
}

.admin-profile-usuario .search-user .contenedor {
    overflow: hidden;
    white-space: nowrap;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    /* position: relative;
    left: 73%; */
}

.search-user .contenedor input#search {
    outline: none;
    width: 300px;
    height: 50px;
    background: #fff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #000;
    padding-left: 15px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.admin-profile-usuario .search-user .contenedor button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: var(--background-primario);
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 10pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container input#search:-moz-placeholder {
    color: #65737e;
}

.container input#search::-moz-placeholder {
    color: #65737e;
}

.container input#search:-ms-input-placeholder {
    color: #65737e;
}


/* Tabla de estudiantes registrados.............................................................................. */

.tabla-est {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    background: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.tabla-est thead {
    background: var(--background-primario);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.tabla-est tr:nth-child(even) {
    background: #ddd;
}

.tabla-est tr {
    /* border-radius: 10px; */
}

.tabla-est th,
.tabla-est td {
    /* border: 1px solid #000; */
    padding: 7px;
    padding-left: 8px;
}

.tabla-est .botones_tabla {
    display: flex;
}

.tabla-est tr .botones_tabla form {
    margin-right: auto;
}

.tabla-est tr td .btn-editar {
    border-radius: 5px;
    background: none;
    color: #1188d8;
    margin-right: 10px;
    cursor: pointer;
}

.admin-profile-usuario div .tabla-est tr td .btn-eliminar {
    border-radius: 5px;
    background: none;
    color: #f71a1a;
    cursor: pointer;
    border: 0;
    width: auto;
}


/* End Tabla.................................................................................. */

.registro-estudiantes {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.admin-profile-usuario .formulario-add-user {
    width: 88%;
    display: block;
    border: var(--background-primario) 1px solid;
    border-radius: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: linear-gradient(to right, rgba(2, 105, 173, 0.281), rgba(0, 0, 0, 0.164), rgba(254, 233, 0, 0.151));
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.campos {
    display: flex;
    width: 100%;
}

.formulario-add-user .col_registro {
    text-align: left;
    display: block;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.formulario-add-user .col_registro div {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    bottom: 0;
}

.col_registro input {
    border: none;
    outline: none;
    padding: 3px;
    margin-bottom: 15px;
    padding-left: 7px;
    border-radius: 5px;
}

.col_registro input:focus {
    background: #e1e4ff;
}

.col_registro .campotexto {
    width: 100%;
}

.col_registro div label {
    margin-right: 8px;
}

.col_registro div .camponumero {
    width: 70px;
}

.col_registro div select {
    margin-bottom: 15px;
    outline: none;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
}

option {
    outline: none;
    border-radius: 5px;
    border: none;
}

.admin-profile-usuario .formulario-add-user .btn-agregar {
    margin-top: 15px;
    background: var(--background-primario);
    font-family: "Maven Pro", sans-serif;
    padding: 7px;
    border-radius: 30px;
    border: none;
    width: 180px;
    font-size: 20px;
    color: white;
    text-align: center;
}


/* End add estudiante */


/* Add docente......................................................................................................... */

.tabla-docentes {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tabla-docentes tr {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.tabla_doc tr td .btn-editar {
    border-radius: 5px;
    background: none;
    color: #1188d8;
    /* margin-left: auto; */
    margin-right: 10px;
    cursor: pointer;
}

.tabla_doc tr td .btn-eliminar {
    border-radius: 5px;
    background: none;
    color: #f71a1a;
    /* margin-right: auto; */
    cursor: pointer;
    border: 0;
    width: auto;
}


/* End Tabla.................................................................................. */

.tabla_doc {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    background: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.tabla_doc thead {
    background: var(--background-primario);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.tabla_doc tr:nth-child(even) {
    background: #ddd;
}

.tabla_doc tr {
    /* border-radius: 10px; */
}

.tabla_doc th,
.tabla_doc td {
    /* border: 1px solid #000; */
    padding: 7px;
    padding-left: 8px;
}

.tabla_doc .botones_tabla {
    display: flex;
}