@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 70px;
    background: whitesmoke;
    padding-top: 110px;
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
}

body::-webkit-scrollbar {
    width: 12px;
    background: #b3b1ff;
}

body::-webkit-scrollbar-thumb {
    background: #0165a8d3;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #014674;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3 {
    color: #fff;
}

h3,
b,
strong {
    font-weight: bold;
}

.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
}

.animated-item {
    color: var(--color-detalle);
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
    background: var(--background-primario);
    color: white;
    border-bottom: var(--color-detalle) 5px solid;
    height: 120px;
    /* display: none; */
}

.nav-item {
    color: white;
}

.log .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    /* nuevo ajuste......................... */
}

.log .navbar-brand:hover {
    color: #fff;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 0;
}

.nav-link {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    background: #212121;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: 6px;
}

.color-mode-icon:after {
    font-family: "Maven Pro", sans-serif;
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: "Maven Pro", sans-serif;
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.nav-link span {
    font-size: 20px;
    width: auto;
}

.inicio {
    width: auto;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inicio a {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.aunar_logo {
    height: 70px;
    margin-right: 20px;
}

.logo {
    height: 70px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}

.log {
    margin-right: 25px;
    color: #fff;
}

.log i {
    width: 150px;
}

ul {
    list-style: none;
}

.log li a {
    padding: 10px;
    display: block;
}

.log>li {
    float: left;
}

.log li ul {
    background: var(--background-primario);
    display: none;
    position: absolute;
    min-width: 140px;
    /* border: 1px solid #000; */
}

.log li:hover>ul {
    display: block;
}

.log li ul li:hover {
    background: var(--hover);
}

.log li ul li .out {
    text-decoration: none;
    color: white;
}


/* END MENU DESPLEGABLE */


/* Config de tab control de tablas....................................... */

.vistas_usuarios {
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    width: auto;
    display: flex;
    /* position: fixed;
    z-index: 1; */
}

.vistas_usuarios ul {
    background: var(--color-detalle);
    border: var(--background-primario) 2px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.vistas_usuarios ul li {
    display: flex;
    align-items: center;
    float: left;
    padding: 0;
}

.vistas_usuarios ul li label {
    padding: 7PX;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 19px;
    margin-bottom: 0;
    border: none;
    cursor: pointer;
}

.vistas_usuarios ul li label:hover {
    background: #fdef51;
    border: none;
    border-radius: 10px;
}

.tab {
    max-width: 100%;
    /* margin: auto; */
    /* margin-top: 100px; */
    /* width: 100%; */
    /* background: #f71a1a; */
}

.secciones {
    position: relative;
}

.secciones .tab1 {
    width: 100%;
    visibility: hidden;
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
}

.secciones .tab2,
.secciones .tab3 {
    width: 100%;
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    /* padding: 30px;
    background: #fff;
    padding-bottom: 40px;
    width: 100%;
    transform: scale(0.90); */
}

#radio-estudiante,
#radio-docente,
#radio-coordinador {
    display: none;
}

#radio-estudiante:checked~.panel-student,
#radio-docente:checked~.panel-docente,
#radio-coordinador:checked~.panel-coo {
    background: #fdef51;
}

#radio-estudiante:checked~.tab1,
#radio-docente:checked~.tab2,
#radio-coordinador:checked~.tab3 {
    opacity: 1;
    visibility: visible;
    padding: 2em 0 1.5em;
    transform: scale(1);
    /* top: 7%; */
}

#radio-docente:checked~.tab1,
#radio-docente:checked~.tab3 {
    visibility: hidden;
}

#radio-coordinador:checked~.tab1,
#radio-coordinador:checked~.tab2 {
    visibility: hidden;
}

#radio-estudiante:checked~.tab2,
#radio-estudiante:checked~.tab3 {
    visibility: hidden;
}


/* End Tab de control de tablas */


/* Tabla de estudiantes registrados.............................................................................. */

.container-tabla {
    padding: 30px;
}

.tabla-est {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    background: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.tabla-est thead {
    background: var(--background-primario);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.tabla-est tr:nth-child(even) {
    background: #ddd;
}

.tabla-est th,
.tabla-est td {
    /* border: 1px solid #000; */
    padding: 7px;
    padding-left: 8px;
}

.tabla-est .botones_tabla {
    display: flex;
}

.tabla-est tr .botones_tabla form {
    margin-right: auto;
}

.tabla-est tr td .btn-editar {
    border-radius: 5px;
    background: none;
    color: #1188d8;
    margin-right: 10px;
    cursor: pointer;
}

.tabla-est tr td .btn-eliminar {
    border-radius: 5px;
    background: none;
    color: #f71a1a;
    cursor: pointer;
    border: 0;
    width: auto;
}


/* End Tabla.................................................................................. */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font: normal 16px/1.5 Helvetica, sans-serif;
    background: linear-gradient(to right, #6814cd 0%, #3163f3 100%);
}

.tabs-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}

.tabs {
    display: flex;
}

.tabs li:not(:last-child) {
    margin-right: 7px;
}

.tabs li a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: white;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
    opacity: 1;
    top: 0;
}

.tabs-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 0 4px 4px 4px;
    background: white;
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: block;
}

.tabs-panel p+div {
    margin-top: 15px;
}

@media screen and (max-width: 100%) {
    .tabs {
        flex-direction: column;
    }
    .tabs li {
        width: 100%;
    }
    .tabs li:not(:last-child) {
        margin-right: 0;
    }
    .tabs li a {
        border-radius: 0;
        opacity: 1;
        top: 0;
    }
    .tabs li.active a::before {
        content: "•";
        padding-right: 5px;
    }
    .tabs-content {
        border-radius: 0;
    }
}