@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 110px;
    width: 100%;
    display: flex;
    margin-left: var(--width-collapsed);
    margin: 0;
    padding: auto;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url("../../img/fondo-modulo1.png");
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #b3b1ff;
}

body::-webkit-scrollbar-thumb {
    background: #0165a8d3;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #014674;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

.navbar h3 {
    color: #fff;
}

h3,
b,
strong {
    font-weight: bold;
}

.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
}

.animated-item {
    color: var(--color-detalle);
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
    background: var(--background-primario);
    color: white;
    border-bottom: var(--color-detalle) 5px solid;
    height: 120px;
}

.nav-item {
    color: white;
}

.log .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    /* nuevo ajuste......................... */
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 0;
}

.nav-link {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    background: #212121;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: 6px;
}

.color-mode-icon:after {
    font-family: "Maven Pro", sans-serif;
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: "Maven Pro", sans-serif;
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.nav-link span {
    font-size: 20px;
    width: auto;
}

.inicio {
    width: auto;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inicio a {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.aunar_logo {
    height: 70px;
    margin-right: 20px;
}

.logo {
    height: 70px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}

.log {
    margin-right: 25px;
}

.log i {
    width: 150px;
}

ul {
    list-style: none;
}

.log li a {
    padding: 10px;
    display: block;
}

.log>li {
    float: left;
}

.log li ul {
    background: var(--background-primario);
    display: none;
    position: absolute;
    min-width: 140px;
    border: 1px solid #000;
}

.log li:hover>ul {
    display: block;
}

.log li ul li:hover {
    background: var(--hover);
}

.log li ul li .out {
    text-decoration: none;
    color: white;
}


/* END MENU DESPLEGABLE */

.imagen_fondo {
    height: 719px;
    background-image: url("../../img/background-o.png");
}

.alfa {
    width: 100%;
    padding-top: 50px;
    position: absolute;
    bottom: 40%;
    /* height: 719px; */
}

.formulario-edit-user {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px;
    width: 74%;
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    background: linear-gradient(to right, rgba(2, 105, 173, 0.349), rgba(0, 0, 0, 0.226), rgba(254, 233, 0, 0.192));
}

.cont-campos {
    display: grid;
    grid-template-areas: "lbl-nombre             nombre             lbl-primer-apellido   primer-apellido" "lbl-segundo-apellido   segundo-apellido   lbl-cedula            cedula" "lbl-programa  programa   lbl-semestre    semestre";
}

.lbl-nombre {
    grid-area: lbl-nombre;
}

.nombre {
    grid-area: nombre;
}

.lbl-p-apellido {
    grid-area: lbl-primer-apellido;
}

.p-apellido {
    grid-area: primer-apellido;
}

.lbl-s-apellido {
    grid-area: lbl-segundo-apellido;
}

.s-apellido {
    grid-area: segundo-apellido;
}

.lbl-cedula {
    grid-area: lbl-cedula;
}

.cedula {
    grid-area: cedula;
}

.lbl-programa {
    grid-area: lbl-programa;
}

.programa {
    grid-area: programa;
}

.lbl-semestre {
    grid-area: lbl-semestre;
}

.semestre {
    grid-area: semestre;
    width: 50%;
}

.cont-campos input:not(input[type="submit"]) {
    margin-right: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px #000 solid;
    padding: 3px;
    border: none;
    margin-bottom: 30px;
}

.cont-campos label {
    display: flex;
    text-align: right;
    justify-content: right;
}

.cont-campos select {
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    height: 35px;
}

.btn-modificar {
    font-family: "Maven Pro", sans-serif;
    margin-right: auto;
    margin-left: auto;
    background: var(--background-primario);
    padding: 7px;
    border-radius: 10px;
    border: none;
    width: 25%;
    color: white;
    font-size: 21px;
    transition: all 300ms ease;
}

.btn-modificar:hover {
    background: var(--hover);
}