@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    /* background: url("../img/background-o.png"); */
    background: url("../img/fondo-modulo1.png");
    background-repeat: no-repeat;
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #ffef42;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

.navbar h3 {
    color: #fff;
}

h3,
b,
strong {
    font-weight: bold;
}

.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
}

.animated-item {
    color: #ffc200;
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
    background: var(--background-primario);
    color: white;
    border-bottom: var(--color-detalle) 5px solid;
    height: 120px;
}

.navbar-brand label {
    color: #ffffff;
}

.log label {
    color: #ffffff;
}

.nav-item {
    color: white;
}

.log .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 0;
}

.nav-link {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    /* background: #212121; */
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color-mode {
    font-weight: bold;
    cursor: pointer;
}

.color-mode-icon {
    position: relative;
    right: 6px;
}

.color-mode-icon:after {
    font-family: 'unicons';
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color-mode-icon.active:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    border-top: var(--background-primario) 3px solid;
    margin-right: 20px;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    border-top: var(--background-primario) 3px solid;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* Logos e imagenes */

.aunar_logo {
    height: 80px;
    margin-right: 20px;
}

.logo {
    height: 80px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}

.log {
    margin-right: 25px;
    color: #fff;
}

.log i {
    width: 150px;
}

ul {
    list-style: none;
}

.log li a {
    padding: 10px;
    display: block;
}

.log>li {
    float: left;
}

.log li ul {
    background: var(--background-primario);
    display: none;
    position: absolute;
    min-width: 140px;
    border: 1px solid #000;
}

.log li:hover>ul {
    display: block;
}

.log li ul li:hover {
    background: var(--hover);
}

.log li ul li .out {
    text-decoration: none;
    color: white;
}

.cl:hover {
    color: #ffffff;
}


/* END MENU DESPLEGABLE.......................................... */

.estado_propuesta {
    position: absolute;
    padding-top: 10px;
    background-color: #fff;
    width: 200px;
    border-radius: 10px;
    height: 150px;
    top: 200px;
    left: 180px;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.estado_propuesta h3 {
    width: 100%;
    padding: 3px;
    background: var(--background-primario);
    color: #fff;
}

.estado_propuesta label {
    margin: auto;
    margin-top: 17px;
    font-weight: bold;
    font-size: 25px;
}

.student-profile {
    position: relative;
    /* background: url("../img/background-o.png"); */
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 120px;
}

.student-profile h3 {
    text-align: center;
    position: relative;
    font-size: 35px;
}

.student-profile .container {
    width: 50%;
    padding: none;
    margin: none;
}

.student-profile .seleccion {
    overflow: hidden;
    padding: 10px;
    padding-left: 5px;
    background-color: var(--color-detalle);
    margin: 20px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    height: 150px;
    /* list-style: 150px; */
    line-height: 150px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    /* border: var(--background-primario) 2px solid; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.student-profile .seleccion div {
    margin-left: auto;
    display: flex;
}

.student-profile .seleccion p {
    font-size: 35px;
    cursor: pointer;
    font-family: "Maven Pro", sans-serif;
    margin-right: 20px;
    background: var(--background-primario);
    color: var(--color-detalle);
    margin-right: auto;
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
}

.student-profile .seleccion img {
    margin-right: 20px;
    margin-left: 5px;
}


/* .student-profile .seleccion div {
    background-color: #615a42;
    cursor: pointer;
} */

.guia_arbol {
    margin-top: 20px;
    top: 0;
    right: 0;
    /* background: #fff; */
    background: linear-gradient(to bottom, #fff, #fff, transparent);
    border: var(--background-primario) 1px solid;
    border-bottom: none;
    position: absolute;
    width: 280px;
    height: 60%;
    padding: 10px;
}

.guia_arbol>ul {
    font-size: 18px;
    font-weight: normal;
}

.guia_arbol ul li>ul {
    font-size: 17px;
    margin: 5px;
    margin-left: 15px;
}

.guia_arbol ul li>ul>li {
    margin: 5px;
    margin-left: 0;
}

.guia_arbol a {
    text-decoration: none;
    color: #000;
}

.guia_arbol i {
    color: #0269ad;
}

.guia_arbol a:hover {
    color: rgb(17, 101, 255);
}