@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding: 40px;
    padding-top: 110px;
    background: whitesmoke;
    /* background: linear-gradient(to right, rgba(2, 105, 173, 0.281), rgba(0, 0, 0, 0.164), rgba(254, 233, 0, 0.151)); */
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

.navbar h3 {
    color: #fff;
}

h3,
b,
strong {
    font-weight: bold;
}

.animated {
    position: relative;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
}

.animated-item {
    color: #ffc200;
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
    background: var(--background-primario);
    color: white;
    border-bottom: var(--color-detalle) 5px solid;
    height: 120px;
}

.nav-item {
    color: white;
}

.log .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    /* nuevo ajuste......................... */
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 0;
}

.nav-link {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav-link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav-link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
    background: none;
}

.navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
    background: #212121;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.copyright-text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
    border-top: var(--background-primario) 3px solid;
    border-bottom: var(--background-primario) 3px solid;
}

.nav-link span {
    color: white;
    font-size: 20px;
    width: auto;
}

.principal {
    width: auto;
    /* border-bottom: var(--color-detalle) 3px solid; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.fecha {
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.principal a,
.fecha {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* Logos e imagenes */

.aunar_logo {
    height: 80px;
    margin-right: 20px;
}

.logo {
    height: 80px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}

.log {
    margin-right: 25px;
    color: #fff;
}

.log i {
    width: 150px;
}

ul {
    list-style: none;
}

.log li a {
    padding: 10px;
    display: block;
}

.log>li {
    float: left;
}

.log li ul {
    background: var(--background-primario);
    display: none;
    position: absolute;
    min-width: 140px;
    border: 1px solid #000;
}

.log li:hover>ul {
    display: block;
}

.log li ul li:hover {
    background: var(--hover);
}

.log li ul li .out {
    text-decoration: none;
    color: white;
}


/* END MENU DESPLEGABLE.......................................... */

.grid-view {
    margin: 0;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 20px;
}

.grid-view .seccion-inscripcion {
    /* background: linear-gradient(to right, rgba(248, 247, 247, 0.877), rgba(248, 247, 247, 0.877), rgba(248, 247, 247, 0.877)), url("../img/fondo-2.png"); */
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px var(--background-primario) solid;
    padding-top: 30px;
}

.seccion-inscripcion .barra-titulo h3 {
    color: white;
}

.seccion-inscripcion .formulario {
    padding: 100px;
    padding-top: 40px;
    display: block;
}

#disable {
    background: none;
}

.descripcion {
    display: block;
}

.descripcion textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px #0477c4 solid;
    outline: none;
    width: 100%;
    resize: none;
}

.grid-form {
    padding-left: 70px;
    padding-right: 70px;
    display: grid;
    grid-template-areas: "subtitulo subtitulo subtitulo" "info info info" "lbl-titulo       lbl-titulo      lbl-titulo" "titulo           titulo          titulo" "lbl-linea        lbl-linea       lbl-linea" "linea            linea           linea" "lbl-integrantes  lbl-asesor      lbl-lider" "integrantes      asesor          lider" "lbl-programa     lbl-semestre    lbl-semestre" "programa         semestre        semestre" "descripcion      descripcion     descripcion" "lbl-equipo       lbl-equipo      lbl-equipo" "equipo           equipo          equipo";
    grid-column-gap: 30px;
}

.subtitulo {
    display: flex;
    grid-area: subtitulo;
}

.info {
    grid-area: info;
}

.lbl-titulo {
    grid-area: lbl-titulo;
}

.titulo {
    grid-area: titulo;
}

.lbl-linea {
    grid-area: lbl-linea;
}

.linea {
    grid-area: linea;
}

.lbl-integrantes {
    grid-area: lbl-integrantes;
}

.integrantes {
    grid-area: integrantes;
}

.lbl-asesor {
    grid-area: lbl-asesor;
}

.asesor {
    grid-area: asesor;
}

.lbl-lider {
    grid-area: lbl-lider;
}

.lider {
    grid-area: lider;
}

.lbl-programa {
    grid-area: lbl-programa;
}

.programa {
    height: 30px;
    grid-area: programa;
}

.lbl-semestre {
    grid-area: lbl-semestre;
}

.semestre {
    grid-area: semestre;
    width: 30%;
}

.descripcion {
    grid-area: descripcion;
}

.lbl-equipo {
    grid-area: lbl-equipo;
}

.equipo {
    grid-area: equipo;
}

.subtitulo i {
    color: #000;
    font-size: 25px;
}

.grid-form label {
    margin: 0;
    padding: 0;
    font-size: 19px;
    color: black;
}

.grid-form input {
    margin-bottom: 30px;
    outline: none;
    font-size: 16px;
    padding: 2px;
    padding-left: 4px;
    border: 1px #0477c4 solid;
    border-radius: 5px;
}

.grid-form select {
    background: none;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px;
    border: 1px #0477c4 solid;
    border-radius: 5px;
}

.grid-form select option {
    font-size: 16px;
    background: white;
    color: #000;
}

.grid-form select option:hover {
    background-color: var(--hover);
}

.contenedor-btn {
    text-align: center;
}

.btn-enviar {
    font-family: 'Maven', sans-serif;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    color: white;
    background: var(--background-primario);
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
}

.details {
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px var(--background-primario) solid;
    display: block;
}

.details>label {
    background: var(--background-primario);
    padding: 5px;
    padding-left: 8px;
    color: #fff;
    width: 100%;
    font-size: 19px;
}

.details>div {
    display: flex;
    background: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}