@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: whitesmoke;
}

:root {
    --primary: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

b,
strong {
    font-weight: bold;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.nav-link span {
    font-size: 20px;
    width: auto;
}

.inicio {
    width: auto;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inicio a {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}


/* Cabecera de pagina.......................................................................................................... */

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: #024f83;
    --hovercolor: #0265a7;
    --width-collapsed: 50px;
}

.body-expanded {
    margin-left: var(--width);
}

.main-container {
    color: white;
}

.foto .name span {
    font-size: 19px;
}

#sidemenu {
    background-color: #aacefd;
    color: black;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    width: 17%;
    padding-top: 20px;
    z-index: 0;
}

#sidemenu a {
    color: black;
    text-decoration: none;
}

#sidemenu .profile {
    border-bottom: solid 1px #a1a1a1;
    padding: var(--padding) 0;
    text-align: center;
}

.profile .foto {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

.profile .foto img {
    border-radius: 50%;
    width: 45%;
}

.profile .foto,
.profile .name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}


/* Item */

.menu-items {
    overflow: hidden;
    width: 100%;
}

.menu-items .item {
    width: 100%;
    padding: 0;
    cursor: pointer;
}

.menu-items .item .title {
    font-size: 16px;
    vertical-align: middle;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
}

.title i {
    position: relative;
    bottom: 3px;
}

.menu-items .item a {
    height: 100%;
    width: 100%;
    display: block;
}

.menu-items .item a:hover {
    background-color: #b4b4b4;
}

.menu-items .item .title {
    height: 100%;
    width: 100%;
    padding: var(--padding);
}

.menu-items .item a label {
    padding: 4px;
    cursor: pointer;
}

.menu-items .separator {
    height: 1px;
    border-bottom: 1px solid #a1a1a1;
}


/* Seccion de registro y control de estudiantes................................................... */

.admin-profile-usuario {
    margin-top: 97px;
    padding: 40px 40px;
    margin-left: 18%;
    width: 82%;
    display: flex;
    flex-direction: column;
}

.cont-titulo {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: #bebebe 2px solid;
    border-radius: 5px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: center;
}

.cont-titulo h3 {
    font-size: 25px;
    margin: auto 5px;
}

.cont-titulo i {
    font-size: 20px;
}

.layout {
    width: 70%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.opciones_admin .separation {
    height: 220px;
}

.module {
    padding: 10px;
    height: 230px;
    background: var(--primary);
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.module h2 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: #fff solid 2px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.module img {
    width: 120px;
}

.module i {
    font-size: 90px;
    color: var(--color-detalle);
    margin: auto;
}

@media screen and (min-width: 67em) {
    .mobile_alert {
        display: none;
    }
}

@media screen and (max-width: 67em) {
    .navbar {
        display: none;
    }
    .menu-collapsed {
        display: none;
    }
    .admin-profile-usuario {
        display: none;
    }
    .mobile_alert {
        background: #fff;
        z-index: 100000000;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .mobile_alert>div {
        display: block;
    }
    .mobile_alert i {
        font-size: 100px;
        color: #f71a1a;
    }
    .mobile_alert img {
        width: 100%;
    }
    .mobile_alert p {
        color: #000;
        margin: 20px;
    }
}