@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 70px;
    background: whitesmoke;
    padding-top: 110px;
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}


/* a:hover {
    color: #ffffff !important;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3 {
    color: #fff;
}

h3,
b,
strong {
    font-weight: bold;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.nav-link span {
    font-size: 20px;
    width: auto;
}

.inicio {
    width: auto;
    border-bottom: var(--color-detalle) 3px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inicio a {
    width: auto;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.aunar_logo {
    width: 80px;
    margin-right: 20px;
}

.logo {
    width: 200px;
    border-radius: 10px;
}


/* MENU DESPLEGABLE DE USUARIO */

* {
    padding: 0px;
    margin: 0px;
}

.log {
    margin-right: 25px;
    color: #fff;
}

.log i {
    width: 150px;
}

ul {
    list-style: none;
}

.log li a {
    padding: 10px;
    display: block;
}

.log>li {
    float: left;
}

.log li ul {
    background: var(--background-primario);
    display: none;
    position: absolute;
    min-width: 140px;
    /* border: 1px solid #000; */
}

.log li:hover>ul {
    display: block;
}

.log li ul li:hover {
    background: var(--hover);
}

.log li ul li .out {
    text-decoration: none;
    color: white;
}


/* END MENU DESPLEGABLE */


/* Cabecera de pagina.......................................................................................................... */

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: #024f83;
    --hovercolor: #0265a7;
    --width-collapsed: 50px;
}

.body-expanded {
    margin-left: var(--width);
}

.main-container {
    color: white;
}

.foto .name span {
    font-size: 19px;
}

#sidemenu {
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    width: 18%;
    padding-top: 20px;
}

#sidemenu a {
    color: white;
    text-decoration: none;
}

#sidemenu .profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

.profile .foto {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

.profile .foto img {
    border-radius: 50%;
    width: 45%;
}

.profile .foto,
.profile .name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}


/* Item */

.menu-items {
    overflow: hidden;
    width: 100%;
}

.menu-items .item {
    width: 100%;
    padding: 0;
}

.menu-items .item .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
}

.title i {
    position: relative;
    bottom: 3px;
}

.menu-items .item a {
    height: 100%;
    width: 100%;
    display: block;
}

.menu-items .item a:hover {
    background-color: var(--hovercolor);
}

.menu-items .item .title {
    height: 100%;
    width: 100%;
    padding: var(--padding);
}

.menu-items .item a label {
    padding: 4px;
    cursor: pointer;
}

.menu-items .separador {
    height: 1px;
    border-bottom: 1px solid var(--hovercolor);
    margin: 15px 0;
}


/* Seccion de registro y control de estudiantes................................................... */

.admin-profile-usuario {
    padding: 10px;
    padding-top: 30px;
    margin-left: 18%;
    width: 82%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.opciones_admin .separation {
    height: 220px;
    /* width: 230px; */
}

.separation a {
    width: 100%;
}

.option_ad {
    padding: 10px;
    height: 230px;
    /* width: 230px; */
    background: var(--background-primario);
    align-items: center;
}

.option_ad h2 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: #fff solid 2px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.option_ad i {
    font-size: 90px;
    color: var(--color-detalle);
    margin: auto;
}

@media screen and (min-width: 67em) {
    .mobile_alert {
        display: none;
    }
}

@media screen and (max-width: 67em) {
    .navbar {
        display: none;
    }
    .menu-collapsed {
        display: none;
    }
    .admin-profile-usuario {
        display: none;
    }
    .mobile_alert {
        background: #fff;
        z-index: 100000000;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .mobile_alert>div {
        display: block;
    }
    .mobile_alert i {
        font-size: 100px;
        color: #f71a1a;
    }
    .mobile_alert img {
        width: 100%;
    }
    .mobile_alert p {
        color: #000;
        margin: 20px;
    }
}