@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    background: whitesmoke;
    padding-top: 110px;
    height: 100vh;
}

:root {
    --background-primario: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}


/* a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
} */

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

b,
strong {
    font-weight: bold;
}

.division {
    height: 100%;
    background: white;
    display: flex;
}

.nav-link span {
    font-size: 20px;
    width: auto;
}


/* FILTRO DE BUSQUEDA.............................*/

.add_user {
    background: rgb(40, 167, 69);
    color: #fff;
}

.box {
    width: 300px;
    height: 40px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: #bebebe 1px solid;
    margin: 10px 0;
}

.box>i {
    font-size: 15px;
    color: #777;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.tabs a {
    text-decoration: none;
    color: black;
}

.tabs-container {
    width: 100%;
    margin: 30px auto;
    margin-top: 0;
    padding: 25px;
}

.tabs {
    display: flex;
}

.tabs li:not(:last-child) {
    margin-right: 7px;
}

.tabs li a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: white;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
    opacity: 1;
    top: 0;
}

.tabs-content {
    position: relative;
    /* z-index: 2; */
    padding: 25px;
    border-radius: 0 4px 4px 4px;
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: block;
}

.tabs-panel p+div {
    margin-top: 15px;
}

@media screen and (max-width: 100%) {
    .tabs {
        flex-direction: column;
    }
    .tabs li {
        width: 100%;
    }
    .tabs li:not(:last-child) {
        margin-right: 0;
    }
    .tabs li a {
        border-radius: 0;
        opacity: 1;
        top: 0;
    }
    .tabs li.active a::before {
        content: "•";
        padding-right: 5px;
    }
    .tabs-content {
        border-radius: 0;
    }
}


/* Tabla de estudiantes registrados.............................................................................. */

.container-tabla {
    padding: 30px;
}

.tabla-est {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    background: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.tabla-est thead {
    background: var(--background-primario);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.tabla-est tr:nth-child(even) {
    background: #ddd;
}

.tabla-est th,
.tabla-est td {
    /* border: 1px solid #000; */
    padding: 7px;
    padding-left: 8px;
}

.tabla-est .botones_tabla {
    display: flex;
}

.tabla-est tr .botones_tabla form {
    margin-right: auto;
}

.botones_tabla i {
    font-size: 23px;
}

.tabla-est tr td .btn-editar {
    border: none;
    background: none;
    color: #1188d8;
    margin-right: 10px;
    cursor: pointer;
}

.tabla-est tr td .btn-eliminar {
    background: none;
    color: #f71a1a;
    cursor: pointer;
    border: 0;
    width: auto;
}

.modal {
    z-index: 10000000 !important;
}

#exampleModal {
    z-index: 10000000 !important;
}

.modal-dialog {
    max-width: 800px !important;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 16px 40px !important;
    width: 100% !important;
}


/* End Tabla.................................................................................. */