@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 110px;
    background: rgb(245, 245, 245);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --primary: #0269ad;
    --hover: #0477c4;
    --color-detalle: #fee700;
    --color-detalle-hover: #e4d103;
}

.full-screen {
    padding: 8rem 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -1px;
}

h1 {
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    font-size: 2.4em;
    font-weight: bold;
}


/* ........................................ */

.proyectos {
    padding: 30px 90px;
}

.cont-titulo {
    width: 100%;
    border: #bebebe 1px solid;
    background: #fff;
    border-radius: 5px;
    vertical-align: middle;
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.cont-titulo h3 {
    margin: auto 5px;
    font-size: 20px;
}

.cont-titulo i {
    font-size: 20px;
}


/* FILTRO DE BUSQUEDA.............................*/

.box {
    width: 300px;
    height: 40px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: #bebebe 1px solid;
    margin: 10px 0;
}

.box>i {
    font-size: 15px;
    color: #777;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 10px;
}

.filtro {
    display: flex;
    padding: 10px;
    padding-left: 0;
}

.filtro label {
    font-size: 20px;
}

select {
    margin-right: 10px;
    border-radius: 7px;
}

.contenedor-titulo {
    margin: auto;
}

.tabla {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    background: #fff;
    text-align: left;
    margin: auto;
}

.tabla thead {
    background: var(--primary);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.tabla tr:nth-child(even) {
    background: #ddd;
}

th {
    padding: 7px 5px;
    vertical-align: middle;
}

td {
    vertical-align: middle;
    padding: 7px 5px;
}

.tabla .botones_tabla {
    display: flex;
}

.tabla tr .botones_tabla form {
    margin-right: auto;
}

.tabla tr td a {
    text-decoration: none;
}

.tabla tr td input {
    background: none;
    outline: none;
    border: none;
}

.tabla tr td .btn-nota {
    background: none;
    color: #1188d8;
    margin-right: 10px;
    cursor: pointer;
}

.texto_o {
    display: none;
}

#radio_d {
    display: none;
}

#radio_d:checked~.texto_o {
    display: flex;
    visibility: visible;
}

.valoracion {
    padding: 7px 14px;
    text-align: center;
    border-radius: 10px;
}

.APROBADO {
    background: #00bd19 !important;
}

.REPROBADO {
    background: #f71a1a !important;
}

.en {
    background: #dab201 !important;
}

.APLAZADO {
    background: #a8a8a8 !important;
}

.download i {
    font-size: 20px;
}